<%- include('./headere.ejs')%>
  <h1 class="text-3xl font-bold text-blue-700 underline text-center mt-4">
 <%=pageTitle %>
  </h1>

  <form action="/contact" method="POST" class="max-w-md mx-auto mt-8 bg-white rounded-lg shadow-lg p-6">
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-bold mb-2">Title:</label>
      <input type="text" id="name" name="name" class="w-full p-2 border border-gray-300 rounded-md">
    </div>
    <div class="mb-4">
      <label for="price" class="block text-gray-700 font-bold mb-2">Price:</label>
      <input type="number" id="price" name="price" class="w-full p-2 border border-gray-300 rounded-md">
    </div>
    <div class="mb-4">
      <label for="imgurl" class="block text-gray-700 font-bold mb-2">Image URL:</label>
      <input type="text" id="imgUrl" name="imgUrl" class="w-full p-2 border border-gray-300 rounded-md">
    </div>
    <div class="mb-4">
      <label for="category" class="block text-gray-700 font-bold mb-2">Category:</label>
      <textarea id="category" name="category" class="w-full p-2 border border-gray-300 rounded-md"></textarea>    
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Submit</button>  
  </form>
  
<%- include('./footer.ejs')%>