<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title><%=pageTitle%></title>
</head>
<body>
    <header class="bg-gray-900 text-white shadow-lg">
        <nav class="container mx-auto flex justify-between items-center p-4">
          <!-- Logo -->
          <a href="/" class="text-2xl font-bold text-blue-400">Bilal</a>
    
          <!-- Menu -->
          <ul class="flex space-x-6">
            <li><a href="/" class="hover:text-blue-400 transition duration-300">Home</a></li>
            <li><a href="/about" class="hover:text-blue-400 transition duration-300">About</a></li>
            <li><a href="/service" class="hover:text-blue-400 transition duration-300">Service</a></li>
            <li><a href="/contact" class="hover:text-blue-400 transition duration-300">Contact</a></li>
          </ul>
        </nav>
      </header>
    